
@media (max-width: 360px) {

    * {
        font-family: "Inter", sans-serif;
    }

    #form {
        display: flex;
        flex-direction: column;
        align-items: center;

        justify-content: center;
    }

    #form h2 {
        font-size: 14px;
    }

    #form label {
        font-size: 12px;
    }

    #form input {
        font-size: 12px;
    }

    button[type="submit"] {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 50vw;
        font-size: 10px;
        padding: 2px;
        margin-bottom: 15%;

    }
}

@media (max-width: 375px) {

    * {
        font-family: "Inter", sans-serif;
    }

    #banner #form {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        justify-content: center;
    }

    #banner #form h2 {
        font-size: 14px
    }

    #form label {
        font-size: 12px;
    }

    #form input {
        font-size: 12px;
    }

    #banner #form button[type="submit"] {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 14px;
        padding: 2px;

    }


    #form form label {
        margin-bottom: 2%;
    }

    #form form input {
        height: 1vh;
        margin-bottom: 4%;
        padding: 5px;
    }

    #form form button[type="submit"] {
        padding: 10px;
    }

    #vendas .callToAction h2 {
        font-size: 12px;
        margin-bottom: 1vh;
    }

    #vendas .callToAction #call-form label {
        margin-bottom: 2%;
        font-size: 12px;
    }

    #vendas .callToAction #call-form input {
        height: 1vh;
        margin-bottom: 4%;
        padding: 5px;
    }

    #vendas .callToAction #call-form button[type="submit"] {
        padding: 10px;
    }

    footer p {
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 390px) {

    * {
        font-family: "Inter", sans-serif;
    }

    #price-table {
        margin-left: 1vw;
        margin-right: 1vw;
    }

}

@media (max-width: 414px) {

    * {
        font-family: "Inter", sans-serif;
    }

    /* NAVEGAÇÃO */
    header {
        width: 100%;
        height: auto;
        background-image: url('../img/Wallpapers/book-wallpaper.jpg');

    }


    #menuMobile {
        margin: 0;
        padding: 0;
    }

    .logo {
        display: flex;
        width: 10vw;
        margin-right: 60vw;
    }

    .logo img {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 10vw;
        color: #fff;
        margin-top: 2vh;
        margin-bottom: 2vh;

    }

    #nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

    }

    #main-menu {
        display: none;
        height: 100%;

    }

    #main-menu.menuAberto {
        display: flex;
        flex-direction: column;
        padding: 5vw;
    }

    .line {
        height: 2px;
        width: 100%;
        background-color: #b9b717;
    }



    #main-menu li a {
        display: flex;
        list-style: none;
        text-decoration: none;
        margin-left: 5vw;
        list-style: none;
        padding: 2%;
        font-weight: bolder;
        color: #FC7B08;
    }

    #main-menu li a:hover {
        text-decoration: underline;
        text-decoration-color: #b9b717;
        -moz-text-decoration-color: #b9b717;
    }

    .hidden {
        display: none;
    }

    .nm_line {
        height: 0.7vw;
        width: 4vw;
        background-color: #b9b717;
        margin-top: 2px;
        margin-left: 2vw;
        margin-right: 11vw;
    }

    /* FIM NAVEGAÇÃO */

    /* BANNER */
    #banner {
        display: flex;
        flex-direction: column;
        background-image: url('../img/Wallpapers/wallpaper_star.png');

    }

    #banner h2 {
        font-family: "Libre Baskerville", serif;
        color: #b9b717;
        font-size: 1.2em;
        text-align: center;
        white-space: nowrap;
    }

    #banner #free {
        color: #b9b717;
        font-weight: bolder;
    }

    #banner ul {
        list-style: none;

    }

    #banner li {
        background-image: url('../img/ok-transparent.png');
        background-size: auto 15px;
        background-repeat: no-repeat;
        padding-left: 30px;
        line-height: 2.5vh;
        font-family: "Libre Baskerville", serif;
        font-size: 1em;
        margin-right: 2vw;
    }


    /* FORM */

    #form {
        background-image: url('../img/hogwarts.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 30vh;
        width: auto;

    }

    form {
        display: flex;
        flex-direction: column;
        width: 50vw;
        margin-left: 25vw;
        margin-right: 25vw;
    }

    form input {
        padding: 10px;
        font-size: 12px;
        font-weight: bolder;
        margin-bottom: 2vh;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }

    form label {
        font-weight: bolder;
        color: #fff;
        text-align: center;
    }

    button[type="submit"] {
        padding: 10px;
        font-family: "Libre Baskerville", serif;
        font-weight: bolder;
        border: 2px solid #000;
        color: #fff;
        animation-name: animacaoText;
        animation-duration: 2s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        margin-bottom: 2vh;
        cursor: pointer;
        /* FIM FORM */
    }

    /* Collection */

    .container h2 {
        font-family: "Libre Baskerville", serif;
        text-align: center;
        color: #b9b717;
    }



    #book figure figcaption {
        padding: 15px;
        text-align: center;
        border-radius: 15px;
        background-color: #FC7B08;
        font-weight: bolder;
        color: #fff;
        box-shadow: 1px 1px 5px #000;
    }

    #book figure figcaption:hover {

        opacity: 0.9;

    }

    #book {
        background-image: url('../img/Wallpapers/wallpaper_star.png');
    }

    #book .books {

        width: 70vw;
        height: 40vh;
        animation-name: imagemFlutuante;
        animation-duration: 2s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        object-fit: cover;
    }

    /* Call To Action */



    #vendas {
        background-image: url('../img/Wallpapers/harry-potter-wallpaper.jpg');
        background-repeat: no-repeat;
        background-size: cover;

        width: auto;

    }

    #vendas h2 {
        margin: 0;
        color: #b9b717;
        padding: 15px;
        text-align: center;
        font-weight: bolder;
        padding: 15px;
    }

    #call-form label {
        color: #fff;
        font-weight: bolder;
    }

    .callToAction h2 .desconto a {
        color: #fff;
        padding: 10px;
        animation-name: animacaoTextSpan;
        animation-duration: 2s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        text-decoration: none;
    }



    /* Fim Call To Action */

    /* Tabelamento */
    #section-tabela-preco {
        background-image: url('../img/Wallpapers/wallpaper_star.png');

    }

    #section-tabela-preco h2 {
        font-weight: bolder;
        text-align: center;
        color: #b9b717;
        animation-name: animacaoTextSpan;
        animation-duration: 2s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        text-decoration: none;

    }

    #price-table {
        background-color: #fff;
        margin-left: 2vw;

    }

    #price-table thead tr th {
        background-color: #b9b717;
        text-align: center;
        color: #fff;
    }

    #price-table tbody tr td {
        background-color: #FC7B08;
        text-align: center;
        padding: 10px;
        color: #fff;
    }

    .merchandising {
        display: flex;
        flex-direction: row;
    }

    .merchandising h3 {
        font-size: 14px;
        padding: 2px;
        text-align: justify;
        margin-left: 2vw;
        margin-right: 2vw;
        color: red;
    }

    .merchandising button[type="submit"] {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-left: 1vw;
        margin-right: 2vw;
        margin-top: 1vh;

    }

    /* Fim Tabelamento */

    footer {
        padding: 10px;
        font-weight: 600;
        color: #b9b717;
        background-image: url('../img/Wallpapers/book-wallpaper.jpg');
        background-size: cover;
        text-align: center;
    }

    footer p {
        padding: 0;
        margin: 0;
    }

    /* Animações */

    @keyframes animacaoText {
        0% {
            background-color: #b9b717;
        }

        25% {
            background-color: #FC7B08;

        }

        50% {
            background-color: #b9b717;

        }

        75% {
            background-color: #FC7B08
        }

        100% {
            background-color: #b9b717;

        }
    }

    @keyframes animacaoTextSpan {
        0% {
            color: #fff;
        }

        25% {
            color: #FC7B08;

        }

        50% {
            color: #fff;

        }

        75% {
            color: #FC7B08
        }

        100% {
            color: #fff;

        }
    }

    @keyframes imagemFlutuante {
        50% {
            transform: translateY(-5%);
            -webkit-transform: translateY(-5%);
            -moz-transform: translateY(-5%);
            -ms-transform: translateY(-5%);
            -o-transform: translateY(-5%);
        }
    }

}

@media (max-width: 430px) {

    * {
        font-family: "Inter", sans-serif;
    }

    /* Navegação */
    header {
        width: 100%;
        height: auto;
        background-image: url('../img/Wallpapers/book-wallpaper.jpg');

    }


    #menuMobile {
        margin: 0;
        padding: 0;
    }

    .logo {
        display: flex;
        width: 10vw;
        margin-right: 60vw;
    }

    .logo img {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 10vw;
        color: #fff;
        margin-top: 2vh;
        margin-bottom: 2vh;

    }

    #nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

    }

    #main-menu {
        display: none;
        height: 100%;

    }

    #main-menu.menuAberto {
        display: flex;
        flex-direction: column;
        padding: 5vw;
    }

    .line {
        height: 2px;
        width: 100%;
        background-color: #b9b717;
    }



    #main-menu li a {
        display: flex;
        list-style: none;
        text-decoration: none;
        margin-left: 5vw;
        list-style: none;
        padding: 2%;
        font-weight: bolder;
        color: #FC7B08;
    }

    #main-menu li a:hover {
        text-decoration: underline;
        text-decoration-color: #b9b717;
        -moz-text-decoration-color: #b9b717;
    }

    .hidden {
        display: none;
    }

    .nm_line {
        height: 0.7vw;
        width: 4vw;
        background-color: #b9b717;
        margin-top: 2px;
        margin-left: 2vw;
        margin-right: 11vw;
    }

    /* Fim navegação */

    /* BANNER */
    #banner {
        display: flex;
        flex-direction: column;
        background-image: url('../img/Wallpapers/wallpaper_star.png');

    }

    #banner h2 {
        font-family: "Libre Baskerville", serif;
        color: #b9b717;
        font-size: 1.2em;
        text-align: center;
        white-space: nowrap;
    }

    #banner #free {
        color: #b9b717;
        font-weight: bolder;
    }

    #banner ul {
        list-style: none;

    }

    #banner li {
        background-image: url('../img/ok-transparent.png');
        background-size: auto 15px;
        background-repeat: no-repeat;
        padding-left: 30px;
        line-height: 2.5vh;
        font-family: "Libre Baskerville", serif;
        font-size: 1em;
        margin-right: 2vw;
    }

    /* FIM BANER */

    /* FORM */

    #form {
        background-image: url('../img/hogwarts.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: auto;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 50vw;
        margin-left: 25vw;
        margin-right: 25vw;
    }

    form input {
        padding: 10px;
        font-size: 12px;
        font-weight: bolder;
        margin-bottom: 2vh;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }

    form label {
        font-weight: bolder;
        color: #fff;
        text-align: center;
    }

    button[type="submit"] {
        padding: 10px;
        font-family: "Libre Baskerville", serif;
        font-weight: bolder;
        border: 2px solid #000;
        color: #fff;
        animation-name: animacaoText;
        animation-duration: 2s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        margin-bottom: 5%;
        cursor: pointer;
        /* FIM FORM */
    }

    /* Collection */

    .container h2 {
        font-family: "Libre Baskerville", serif;
        text-align: center;
        color: #b9b717;
    }



    figcaption {

        padding: 15px;
        text-align: center;
        border-radius: 15px;
        background-color: #FC7B08;
        font-weight: bolder;
        color: #fff;
        box-shadow: 1px 1px 5px #000;
    }

    figcaption:hover {

        opacity: 0.9;
    }

    #book {
        background-image: url('../img/Wallpapers/wallpaper_star.png');
    }

    #book .books {

        width: 70vw;
        height: 40vh;
        animation-name: imagemFlutuante;
        animation-duration: 2s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        object-fit: cover;
    }

    /* Call To Action */



    #vendas {
        background-image: url('../img/Wallpapers/harry-potter-wallpaper.jpg');
        background-repeat: no-repeat;
        background-size: cover;

        width: auto;

    }

    #vendas h2 {
        margin: 0;
        color: #b9b717;
        padding: 15px;
        text-align: center;
        font-weight: bolder;
        padding: 15px;
    }

    #call-form label {
        color: #fff;
        font-weight: bolder;
    }

    .callToAction h2 .desconto a {
        color: #fff;
        padding: 10px;
        animation-name: animacaoTextSpan;
        animation-duration: 2s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        text-decoration: none;
    }



    /* Fim Call To Action */

    /* Tabelamento */
    #section-tabela-preco {
        background-image: url('../img/Wallpapers/wallpaper_star.png');

    }

    #section-tabela-preco h2 {
        font-weight: bolder;
        text-align: center;
        color: #b9b717;
        animation-name: animacaoTextSpan;
        animation-duration: 2s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        text-decoration: none;

    }

    #price-table {
        background-color: #fff;
        margin-left: 2vw;

    }

    #price-table thead tr th {
        background-color: #b9b717;
        text-align: center;
        color: #fff;
    }

    #price-table tbody tr td {
        background-color: #FC7B08;
        text-align: center;
        padding: 10px;
        color: #fff;
    }

    .merchandising {
        display: flex;
        flex-direction: row;
    }

    .merchandising h3 {
        font-size: 14px;
        padding: 2px;
        text-align: justify;
        margin-left: 2vw;
        margin-right: 2vw;
        color: red;
    }

    .merchandising button[type="submit"] {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-left: 1vw;
        margin-right: 2vw;
        margin-top: 1vh;

    }

    /* Fim Tabelamento */

    footer {
        color: #b9b717;
        background-image: url('../img/Wallpapers/book-wallpaper.jpg');
        background-size: 100vh 100vw 0;
        text-align: center;


    }

    footer p {
        height: auto;
        margin-bottom: 0.2vh;
    }

    /* Animações */

    @keyframes animacaoText {
        0% {
            background-color: #b9b717;
        }

        25% {
            background-color: #FC7B08;

        }

        50% {
            background-color: #b9b717;

        }

        75% {
            background-color: #FC7B08
        }

        100% {
            background-color: #b9b717;

        }
    }

    @keyframes animacaoTextSpan {
        0% {
            color: #fff;
        }

        25% {
            color: #FC7B08;

        }

        50% {
            color: #fff;

        }

        75% {
            color: #FC7B08
        }

        100% {
            color: #fff;

        }
    }

    @keyframes imagemFlutuante {
        50% {
            transform: translateY(-5%);
            -webkit-transform: translateY(-5%);
            -moz-transform: translateY(-5%);
            -ms-transform: translateY(-5%);
            -o-transform: translateY(-5%);
        }
    }

}

@media (max-width: 618px) {
    #form form button[type="submit"] {
        margin-bottom: 15%;
        padding: 15px;
        color: #fff;
        background-color: #b9b717;
        font-weight: bolder;
        border-radius: 15px;
        cursor: pointer;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        border: 1px solid #000;
        animation-name: animacaoText;
        animation-duration: 2s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
    }
}

@media (min-width: 768px) {

    * {
        font-family: "Inter", sans-serif;
    }

    header {
        width: 100%;
        background-image: url('../img/Wallpapers/book-wallpaper.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    header #menuMobile {
        display: none;
    }

    header #nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
    }

    header #nav-menu .logo a img {
        width: 4vw;
        margin-top: 2vh;
        margin-bottom: 2vh;
        margin-right: 55vw;

    }

    header #nav-menu #main-menu {
        display: flex;
        flex-direction: row;
    }

    header #nav-menu #main-menu li {
        list-style: none;
        margin-right: 3vw;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    header #nav-menu #main-menu li a {
        text-decoration: none;
        color: #FC7B08;
        font-weight: bolder;
    }

    header #nav-menu #main-menu li a:hover {
        text-decoration: underline;
        text-decoration-color: #b9b717;
        -moz-text-decoration-color: #b9b717;
    }

    .line {
        height: 2px;
        width: 100%;
        background-color: #b9b717;
    }

    /* Fim navegação */

    /* Banner */
    #banner {
        background-image: url('../img/Wallpapers/wallpaper.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;


    }

    #banner h2 {
        margin-top: 0;

        font-size: 2em;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        text-shadow: 1px 1px 10px #b9b717;
        padding: 15px;


    }

    #banner ul {
        display: flex;
        flex-direction: column;
    }


    #banner ul li {
        list-style: none;
        font-size: 1.7em;
        text-align: center;
        margin-top: 10px;
        padding: 15px;
        background-image: url('../img/ok-transparent.png');
        background-size: 30px auto;
        background-position: 2%;
        background-repeat: no-repeat;

        color: #fff;
        font-weight: bolder;
    }

    #form {
        display: flex;
        flex-direction: column;
        width: 100%;

    }



    #form h2 #free {
        margin: 10px;
    }

    #form form {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        justify-content: center;


    }

    #form form label {
        font-size: 2em;
        margin-bottom: 1vh;
        color: #fff;

    }

    #form form input {
        margin-bottom: 1vh;
        padding: 10px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }

    #form form button[type="submit"] {
        margin-bottom: 1vh;
        padding: 15px;
        color: #fff;
        background-color: #b9b717;
        font-weight: bolder;
        border-radius: 15px;
        cursor: pointer;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        border: 1px solid #000;
        animation-name: animacaoText;
        animation-duration: 2s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
    }


    #products {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.796) 0%, rgb(81, 9, 204) 35%, rgb(17, 9, 63) 100%);
    }

    #products .container #products .container h2 {
        font-family: "Libre Baskerville", serif;
        text-align: center;
        color: #b9b717;

    }

    #book h2 {
        text-align: center;
        color: #b9b717;
        background-color: #000;
        padding: 10px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }

    #book figure {

        width: 100%;
    }

    #book figure figcaption {

        margin-left: 25vw;
        margin-right: 25vw;
        padding: 15px;
        text-align: center;
        border-radius: 15px;
        background-color: #FC7B08;
        font-weight: bolder;
        color: #fff;
        box-shadow: 1px 1px 5px #000;
    }

    #book figure figcaption:hover {

        opacity: 0.9;

    }

    #book {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: url('../img/Wallpapers/wallpaper_star.png');
    }

    #book .books {
        width: 25vw;
        height: 25vh;
        animation-name: imagemFlutuante;
        animation-duration: 2s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        object-fit: cover;
    }

    /* Fim collection */

    #vendas h2 {
        margin: 0;
        color: #b9b717;
        padding: 15px;
        text-align: center;
        font-weight: bolder;
        padding: 15px;
    }  

    #call-form {
        display: flex;
        flex-direction: column;
    }

    #call-form label {
        color: #000;
        font-size: 20px;
        font-weight: bolder;
        margin-bottom: 1%;
        margin-left: 3vw;
        text-align: center;
    }
    #call-form input {
        color: #000;
        font-weight: bolder;
        margin: 2vh;
        padding: 10px;
    }

    #call-form button[type="submit"] {
        margin-left: 36vw;
        margin-right: 36vw;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: #b9b717;
        color: #fff;
        font-weight: bolder;
        padding: 15px;
        margin-bottom: 2vh;
        animation-name: animacaoText;
        animation-duration: 2s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        text-decoration: none;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
}

    .callToAction h2 .desconto a {
        color: #fff;
        padding: 10px;
        animation-name: animacaoTextSpan;
        animation-duration: 2s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        text-decoration: none;
    }



    /* Fim Call To Action */

    /* Tabelamento */
    #section-tabela-preco {
        background-image: url('../img/Wallpapers/wallpaper_star.png');

    }

    #section-tabela-preco h2 {
        font-weight: bolder;
        text-align: center;
        color: #b9b717;
        animation-name: animacaoTextSpan;
        animation-duration: 2s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        text-decoration: none;

    }

    #price-table {
        background-color: #fff;
        margin-left: 2vw;

    }

    #price-table thead tr th {
        background-color: #b9b717;
        text-align: center;
        color: #fff;
    }

    #price-table tbody tr td {
        background-color: #FC7B08;
        text-align: center;
        padding: 10px;
        color: #fff;
    }

    .merchandising {
        display: flex;
        flex-direction: row;
    }

    .merchandising h3 {
        font-size: 14px;
        padding: 2px;
        text-align: justify;
        margin-left: 2vw;
        margin-right: 2vw;
        color: red;
    }

    .merchandising button[type="submit"] {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-left: 1vw;
        margin-right: 2vw;
        margin-top: 1vh;
        animation-name: animacaoText;
        animation-duration: 2s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        text-decoration: none;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        margin-bottom: 1vh;
        font-weight: bolder;
      

    }

    /* Fim Tabelamento */

    footer {
        padding: 10px;
        font-weight: 600;
        color: #b9b717;
        background-image: url('../img/Wallpapers/book-wallpaper.jpg');
        background-size: cover;
        text-align: center;
    }

    footer p {
        padding: 0;
        margin: 0;
    }


    @keyframes animacaoText {
        0% {
            background-color: #b9b717;
        }

        25% {
            background-color: #FC7B08;

        }

        50% {
            background-color: #b9b717;

        }

        75% {
            background-color: #FC7B08
        }

        100% {
            background-color: #b9b717;

        }
    }

    @keyframes animacaoTextSpan {
        0% {
            color: #fff;
        }

        25% {
            color: #FC7B08;

        }

        50% {
            color: #fff;

        }

        75% {
            color: #FC7B08
        }

        100% {
            color: #fff;

        }
    }

    @keyframes imagemFlutuante {
        50% {
            transform: translateY(-5%);
            -webkit-transform: translateY(-5%);
            -moz-transform: translateY(-5%);
            -ms-transform: translateY(-5%);
            -o-transform: translateY(-5%);
        }
    }

}

@media (min-width: 1125px) {
    header #nav-menu .logo a img {
        width: 4vw;
        margin-top: 1vh;
        margin-bottom: 1vh;
        margin-right: 65vw;

    }

    #banner ul li {
        list-style: none;
        font-size: 1.7em;
        text-align: center;
        margin-top: 10px;
        padding: 15px;
        background-image: url('../img/ok-transparent.png');
        background-size: 30px auto;
        background-position: 18%;
        background-repeat: no-repeat;

        color: #fff;
        font-weight: bolder;
    }
}


@media (min-width: 1626px) {
    #banner ul li {
        list-style: none;
        font-size: 1.7em;
        text-align: center;
        margin-top: 10px;
        padding: 15px;
        background-image: url('../img/ok-transparent.png');
        background-size: 30px auto;
        background-position: 28%;
        background-repeat: no-repeat;

        color: #fff;
        font-weight: bolder;
    }

}

@media (min-width: 1920px) {
    #banner ul li {
        list-style: none;
        font-size: 1.7em;
        text-align: center;
        margin-top: 10px;
        padding: 15px;
        background-image: url('../img/ok-transparent.png');
        background-size: 30px auto;
        background-position: 36%;
        background-repeat: no-repeat;

        color: #fff;
        font-weight: bolder;
    }
}



@media (min-width: 2541px) {
    #banner ul li {
        list-style: none;
        font-size: 1.7em;
        text-align: center;
        margin-top: 10px;
        padding: 15px;
        background-image: url('../img/ok-transparent.png');
        background-size: 30px auto;
        background-position: 36%;
        background-repeat: no-repeat;

        color: #fff;
        font-weight: bolder;
    }

    header #nav-menu .logo a img {
        width: 2vw;
        margin-top: 1vh;
        margin-bottom: 1vh;
        margin-right: 75vw;

    }
}